@import '../../styles/variables';
@import '../../styles/responsive';

.Abandon {
  height: 5rem;
  width: 10rem;
  margin: 5px;
  background-color: $button-danger;
  color: $font-light;

  &:hover {
    cursor: pointer;
    background-color: $button-danger-hover;
    border-color: $button-danger-hover;
    color: $font-light
  }
}

.Answer {
  background-color: $background-card-light;
  color: $font-light;
  font-size: larger;
  height: 5rem;
  max-width: 15rem;
  width: 100%;

  &:hover:not(:disabled) {
    color: $font-dark;
    background-color: $background-card-lightest;
  }

  &:disabled {
    background-color: grey
  }
}

.NavButton {
  height: 4rem;
  width: 5rem;
  border-radius: 5px;
  background-color: $background-card-dark;
  color: $font-light;
  
  @media screen and (max-width: $screen-sm ) {
    height: 2rem;
    
  }
  &:hover {
    cursor: pointer;
    background-color: $background-card-lightest;
    border-color: $background-card-light;
    color: $font-dark
  }
}

.Play {
  height: 5rem;
  width: 10rem;
  margin: 5px;
  background-color: $background-card-dark;
  color: $font-light;
  
  &:disabled {
    background-color: $background-card-darkest;
  }
  
  &:hover:not(:disabled) {
      cursor: pointer;
      background-color: $background-card-lightest;
      border-color: $background-card-lightest;
      color: $font-dark
    }
  }
  
.NextQuestion {
  height: 5rem;
  width: 10rem;
  margin: 5px;
  background-color: $background-card-light;
  color: $font-dark;

  &:hover {
    cursor: pointer;
    background-color: $background-card-lightest;
    border-color: $background-card-lightest;
    color: $font-dark
  }
}