@import './_variables.scss';

body {
  margin: 0;
  height: 100vh;
  width: 100%;
  background-color: $background;
  color: $font-light;
  font-family: 'Noto Sans', sans-serif, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}