$background: rgb(46, 65, 114);
$background-card-lightest: rgb(176, 200, 255);
$background-card-light: rgb(93, 117, 171);
$background-card-dark: rgb(15, 28, 57);
$background-card-darkest: rgb(0, 0, 0);

$button-danger: rgb(175, 59, 59);
$button-danger-hover: rgb(87, 29, 29);

$font-light: white;
$font-middle: grey;
$font-dark: black;