$background: #0A2342;
$background-card-lightest: #D5CFE1;
$background-card-light: #B7B6C1;
$background-card-dark: #464655;
$background-card-darkest: #07192e;

$button-danger: rgb(175, 59, 59);
$button-danger-hover: rgb(87, 29, 29);

$font-light: white;
$font-middle: grey;
$font-dark: rgb(37, 37, 37);